<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809186703812-b60gmomeqng700t4kgtrh8q3u1j3bqe8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809186703812-b60gmomeqng700t4kgtrh8q3u1j3bqe8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>809186703812-0mcls6bpok79f6t2lib9s5uv43am6obf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAScvtObL1gOjVsZBO_w5qmbfTLc1Zy4Fk</string>
	<key>GCM_SENDER_ID</key>
	<string>809186703812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smsseller</string>
	<key>PROJECT_ID</key>
	<string>sms-6cb0a</string>
	<key>STORAGE_BUCKET</key>
	<string>sms-6cb0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809186703812:ios:19d8dcc85dbdb8f17b4c91</string>
</dict>
</plist>